// Essentials.
@import "essentials";

// Generic
@import "2-generic/generic";
@import "2-generic/gutenberg";
@import "2-generic/slick-carousel";
@import "2-generic/search-result";

// Layouts.
@import "4-layouts/posts/meta";
@import "4-layouts/posts/pagination";
@import "4-layouts/header/nav/navigation";
@import "4-layouts/author/author";

// Components

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1130px,
  xxl: 1170px,
);
$theme-colors: (
  "primary":  #0c6452,
  "danger": #ae1421,
  "success":  #0c6452,
);
$btn-padding-x: 20px;
@import "~bootstrap/scss/bootstrap";
.btn-primary {
  &:hover {
    background-color: #fff;
    border-color: var(--bs-btn-hover-bg);
    color: var(--bs-btn-hover-bg);
    text-decoration: none;
  }
}
body, .fs-14 {
  font-size: 14px;
  font-family: "bitterregular";
}
.header-top-bar-main {
    transition: all 0.5s;
  .block-currency-wrapper {
    display: inline-block !important;
    margin: 0;
    padding: 7px 0;
    ul.list-inline {
      display: flex;
      align-items: center;
      margin-bottom: 0;
      list-style: none;
      li {
        display: inline-block;
        padding-right: 5px;
        padding-left: 5px;
        &:first-child {
          padding-left: 0;
        }
        .bookmark-btn {
          button {
            width: 23px;
            height: 23px;
          }
          span {
            padding-right: 8px;
            color: #fff;
          }
        }
      }
    }
  }
  .toplinks {
    .head_whatsapp   {
      margin-bottom: 0 !important;
    }
    #menu-toplinks {
      margin-bottom: 0 !important;
      li {
        margin-left: 15px;
        line-height: 17px;
        a {
          color: #222;
          font-size: 14px;
        }
      }
    }
  }
}
.middle-bar-main {
  padding: 15px 0 20px 0;
}

