// Essentials.
@import "essentials";

// Generic
@import "2-generic/generic";
@import "2-generic/gutenberg";
@import "2-generic/slick-carousel";
@import "2-generic/search-result";

// Layouts.
@import "4-layouts/posts/meta";
@import "4-layouts/posts/pagination";
@import "4-layouts/header/nav/navigation";
@import "4-layouts/author/author";

// Components

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1130px,
  xxl: 1170px,
);
@import "~bootstrap/scss/bootstrap";
body {
  font-size: 14px;
  font-family: "bitterregular";
}
.header-top-bar-main {
    transition: all 0.5s;
    background: #fff;
    border-bottom: 1px solid #f1f1f1;
  .block-currency-wrapper {
    display: inline-block !important;
    margin: 0px 0 0 0;
    padding: 7px 10px;
    ul.list-inline {
      display: flex;
      align-items: center;
      margin-bottom: 0;
      list-style: none;
      li {
        display: inline-block;
        padding-right: 5px;
        padding-left: 5px;
        a {
          color: #333;
          text-decoration: none;
        }
        .bookmark-btn {
          background-color: #1fc0a0;
          border-radius: 50px;
          cursor: pointer;
          button {
            background-color: #cd1b29;
            border-radius: 50%;
            border: none;
            width: 25px;
            height: 26px;
            padding: 0;
          }
          span {
            padding-right: 8px;
            color: #fff;
          }
        }
        .track-btn {
          a {
            background-color: #1fc0a0;
            border-radius: 50px;
            color: #fff !important;
            padding: 3px 8px;
          }
        }
      }
    }
  }
  .toplinks {
    line-height: normal;
    padding: 7px 0 0;
    display: inline-block;
    float: right;
    letter-spacing: 0.5px;
    .head_whatsapp {
      margin-bottom: 0 !important;
    }
    #menu-toplinks {
      margin-bottom: 0 !important;
      li {
        margin-left: 15px;
        line-height: 17px;
        a {
          color: #222;
          font-size: 14px;
        }
      }
    }
  }
}
.middle-bar-main {
  padding: 15px 0 20px 0;
}
